
@{
    ViewData["Title"] = "Payment Method";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<environment include'="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

<div style="margin-top: auto">
    <h4>Payment Method</h4>
    <ul style="list-style-type:none;">
        <li style="margin-top: 1.563rem">
            <form asp-controller="Payment" asp-action="AddCards">
                <button type="submit">
                    Add a Creddit/Debit Card
                </button>
            </form>

        </li>
        <li style="margin-top: 1.563rem">
            <span style="margin-top: 1.563rem">Or</span>
        </li>
        <li>
            <p>
                <div id="paypal-button"></div>
                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                <script>
                    paypal.Button.render({
                        // Configure environment
                        env: 'sandbox',
                        client: {
                            sandbox: 'demo_sandbox_client_id',
                            production: 'demo_production_client_id'
                        },
                        // Customize button (optional)
                        locale: 'en_US',
                        style: {
                            size: 'small',
                            color: 'gold',
                            shape: 'pill',
                        },

                        // Enable Pay Now checkout flow (optional)
                        commit: true,

                        // Set up a payment
                        payment: function (data, actions) {
                            return actions.payment.create({
                                transactions: [{
                                    amount: {
                                        total: '0.01',
                                        currency: 'USD'
                                    }
                                }]
                            });
                        },
                        // Execute the payment
                        onAuthorize: function (data, actions) {
                            return actions.payment.execute().then(function () {
                                // Show a confirmation message to the buyer
                                window.alert('Thank you for your purchase!');
                            });
                        }
                    }, '#paypal-button');

                </script>
            </p>
        </li>
        <li>
            <p>
                <a asp-controller="Home" asp-action="Index">Back</a>
            </p>
        </li>
    </ul>
</div>
